.container{
	background: #f9f9f9;
}
.cus-nav .navbar-header .icon-back{
	margin-left: 15px;
    color: #fff;
    margin-right: 15px;
}
.breadcrumb{
	display: inline-block;
}
.form-register .form-control{
	border-left: 0;
    border-right: 0;
    border-top: 0;
    border-radius: 0;
    box-shadow: none;
    background: #f9f9f9;
}
.form-register .form-group label{
	color: #bcbcbc;
}
/*input error*/
.input-error{
	border-bottom: 1px solid #f85a44;
}
.form-register .form-group .error{
	color: #f55a4f;
}
/*end input error*/
.form-register .list-error{
	border-bottom: 1px solid #dedede;
	padding-bottom: 10px;
	background: #fff;
}
.form-register .list-error .error{
	color: #f55a4f;
    margin-left: 15px;
}
.btn-save{
	float: right;
    color: #fff;
    margin-right: 15px;
}