@font-face{
    font-family: signika;
    src: url(../fonts/Signika-regular.otf);
}
body{
	background-image: url('../image/bg-login.png');
	width: 100%;
    background-repeat: no-repeat;
    background-size: 100% 640px;
    font-family: signika;
}
.bg-login{
	margin-top: 87px;
}
.bg-login img{
	margin: auto;
	margin-bottom: 30px;
}
.form-login{
	margin-left: 30px;
	margin-right: 30px;
}
.form-login .form-control{
	border-left: 0;
    border-right: 0;
    border-top: 0;
    border-radius: 0;
    box-shadow: none;
    background: transparent;
    padding-left: 65px;
    color: #fff;
}
.form-login .form-control::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #fff;
}
.form-login .form-control:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #fff;
   opacity:  1;
}
.form-login .form-control::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #fff;
   opacity:  1;
}
.form-login .form-control:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #fff;
}
.form-login .icon-user{
	background: url('../image/avatar.png');
	background-repeat: no-repeat;
    background-size: 20px 24px;
    width: 28px;
    height: 31px;
    display: inline-block;
    position: absolute;
    margin-left: 27px;
}
.form-login .icon-pass{
	background: url('../image/password.png');
	background-repeat: no-repeat;
    background-size: 20px 24px;
    width: 28px;
    height: 31px;
    display: inline-block;
    position: absolute;
    margin-left: 27px;
}
.form-login .btn-login{
    background-color: #7fc331;
    border-radius: 23px;
    padding: 10px 95px;
    border-color: #fff;
    color: #fff;
}
.bg-login .signup{
	color: #fff;
    text-align: center;
    display: block;
    margin-top: 15px;
    font-size: 12px;
}
.bg-login .forgot{
	color: #fff;
    text-align: center;
    display: block;
    margin-top: 10px;
}
.bg-login #overlay{
	display: none;
    text-align: center;
    color: #fff;
    font-size: 12px;
}
.bg-login #overlay img{
	width: 20px;
    margin-top: 20px;
    margin-bottom: 10px;
}